[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipykernel = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
black = "*"
sklearn = "1.0"
tqdm = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
